.nav {
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav__logo {
  font-weight: 500;
}

.nav__logo span {
  color: rgb(93, 42, 211);
  font-weight: bolder;
}

.nav__links {
  font-weight: bolder;
  display: flex;
  gap: 2rem;
}
.nav__links a {
  text-decoration: none;
  font-weight: 500;
}
.nav__links a:hover {
  color: rgb(93, 42, 211);
  border-bottom: 1px solid rgb(93, 42, 211);
  transition: 0.4s;
}
.active {
  color: rgb(93, 42, 211) !important;
  border-bottom: 1px solid rgb(93, 42, 211);
}
